<h1>Stupid coaching</h1>
<div class="question"><%= @question %>
  <p><i>-You</i></p>
</div>

<div class = "answer"><%= @answer %>
  <p><i>-Your coach</i></p>
</div>

<div id = "back"><%= link_to "back to question", ask_path  %></div>

